<div class="container">
    <div class="row">
        <div class="border border-info items mt-3 p-2">
            <div class=" ">
                <div class="card">
                    <img routerLink="/product/{{product.id}}" src="{{product.image}}" alt="">
                </div>
            </div>
            <div class="text-center">
                <h4 class="my-3" style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">{{product.title}}</h4>
                <h6>${{ product.price }}</h6>
                <div class="d-flex align-items-center justify-content-center">
                <select 
                    
                    class="form-control w-50 my-2"
                    name="quantity"
                    [(ngModel)]="quantity"
                    value="{{ quantity }}"
                     (ngModelChange)="updateQuantity($event)">
                    <option *ngFor="let i of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]" value="{{i}}">
                        {{i}}
                    </option>
                </select>
                </div>
                <button type="button" class="btn btn-primary" (click)="addToCart()">Add to cart</button>
            </div>
        </div>
    </div>
</div>
