<div class="container w-25" style="padding-top: 15%;">
    <div class="row ">
        <div class="card p-5">
            <div class="card-body">
                <div class="container" style="text-align: center">
                    <h3>Order Confirmed</h3>
                    <span>
                      Hi<strong> {{ user.fullname }}, </strong>
                      Your order has been placed for total of
                      <strong>${{ subTotal }}</strong></span
                    >
                    <br />
                    <a routerLink="/">Go back to listing</a>
                  </div>
            </div>
        </div>
          
    </div>
</div>
