<section class="container" >
    <div class="row "  style="padding-top: 7%;">
      <div class="col-md-6">
        <div class="w-100 image" >
          <img class="w-50" src="{{ products.image }}" />
        </div>
    
      </div>
      <div class="col-md-6 desc" >
        <div>
          <div class="description">
            <p><label>{{ products.title }}</label></p>
            <p>${{ products.price }}</p>
            <p><small>{{ products.description }}</small></p>
          </div>
          <div class="cart-options">
            <select class="form-control w-50"
              name="quantity"
              [(ngModel)]="quantity"
              value="{{ quantity }}"
              (ngModelChange)="updateQuantity($event)"
            >
              <option
                *ngFor="let i of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]"
                value="{{ i }}"
              >
                {{ i }}
                
              </option> 
              
            </select>
            
          </div>
            <button class="btn btn-primary mt-3"   (click)="addToCart()">Add to Cart</button>
          
        </div>
      </div>
    </div>
  </section>
  